body {
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;

    font-size: 16px;
    line-height: 1.6;
    color:  #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;

}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 10px;
    margin: 0 auto;
}


/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    min-height: 720px;
    position: relative;

    background: url("../images/background/6.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
}


.intro__suptitle {
    font-size: 65px;
    font-weight: 100;
    letter-spacing: 5px;

    font-family: 'Josefin Sans', sans-serif;

}


.intro__title {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 13px;

}



/* Header */
.header {
    display: flex;
    width: 100%;
    padding: 40px 0;

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo {
    display: block;
    margin-left: 0;

    text-transform: uppercase;
    font-size: 27px;
    font-weight: 600;
}


.header__inner {
    display: flex;
    justify-content: space-between;

    align-items: center;
}



/* Nav */
.nav {
    font-size: 20px;
    margin-right: 15px;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 35px;
    position: relative;

    color: #FFF;
    text-decoration: none;

transition: color .1s linear;
}


.nav__link.active {
    color: #66583f;
}

.nav__link--i {
 margin: 0 10px auto;
}

.nav__link:hover {
    color: #66583f;
}


/* Section */

.section {
    padding: 70px 0;
    background-color: black;
    box-sizing: border-box;
}

.section__reviews {
    padding: 50px 0;
    background-color: black;
    height: auto;
}

.section__header {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 100;
}

.section--about {
    padding: 123px 0;
}

.section--portfolio {
    padding: 123px 0;
}

.section__text {
    font-family: 'Amatic SC', cursive;
    font-weight: 100;
    font-size: 20px;
    display: block;
}

.section--gray {
    background-color: #070707;
}

.section--comments {
    background: url("../images/background/1.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


/* Card */
.card {
    margin: 80px -15px 0;
    display: flex;
    justify-content: space-between;
}

.card__item {
    width: 33.3333%;
    margin: 0 15px;
        overflow: hidden;
}

.card__inner {
    position: relative;
    transition: 1s;
}

.card__inner:hover {
    transform: scale(1.2);
}


.card__inner:hover .card__img img {
    transition: 1s;
    opacity: .1;
}

.card__inner:hover .card__text {
    transition: 1s;
    opacity: 1;
}

.card__img {
    background: linear-gradient(to bottom, black, black);
    overflow:hidden;
    transition: transform .2s linear;

    opacity: 0.8;
}


.card__img img {
    display: block;

    max-width: 100%;
    height: auto;
    transition: opacity .2s linear;

}


.card__text {
    width: 100%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}



/* Social */

.social {
    display: flex;
    justify-content: center;
}

.social__item {
    margin: 2px;
    width: 50px;
    height: 50px;
   padding: 12px 10px;
    font-size: 25px;
    color: white;
    line-height: 1;
    border: 1px solid white;
    transition: background .2s linear, color .2s linear;
    text-decoration: none;
}

.social__item:hover {
    color: black;
    background-color: white;
    border-color: black;
    transition: background .2s linear, color .2s linear;
}



/* Photography */
.photography {
    display: flex;
    width: 100%;
    padding-top: 50px;
}

.photography__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    padding-top: 20px;
}



.photography__item img {
    width: 100%;
}


.photography__img {
    position: relative;
    display: block;
    width: 350px;
    height: 550px;
    z-index: 1;

    opacity: 0.4;
    transition: 1s;
}

.photography__img:hover {
    opacity: 1;
}

.photography__text {
    width: 100%;
    position: absolute;
    font-size: 40px;
    color: white;
    font-weight: 200;

    top: 50%;
    left: 0;
    z-index: 2;

    transform: translate3d(0, -50%, 0);
    text-align: center;

    opacity: 1;
    transition: 1s;
}



/* Reviews */
.reviews {
    height: 210;
    padding: 0 110px;
    position: relative;
}

.reviews__item {
    padding-left: 255px;
    position: relative;
    height: 210px;
}

.reviews__photo {
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid pink;
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__text {
    margin-bottom: 10px;
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
    color: white;
}

.reviews__author {
    font-size: 20px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.reviews__author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    background-color: #f38181;
}


.reviews__btn {
    color: transparent;
    font-size: 0;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews__btn:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid white;
    border-left: 2px solid white;
}

.reviews__btn--prev {
    left: 0;
    transform: rotate(-45deg);
}

.reviews__btn--next {
    right: 0;
    transform: rotate(135deg);
}


/* Biography */
.biography {
    display: block;
    overflow: hidden;
}

.bio__header {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 100;
}

.bio__text {
    display: block;
    float: left;
    padding-top: 45px;
    margin-right: 150px;
    width: 35%;
    text-indent: 50px;
}

.bio__text h1 {
    font-size: 23px;
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
}

.bio__photo {
    overflow: hidden;
    height: 600px;
}

.bio__photo img {
    position: relative;
    margin: 60px 0px 0px 60px;
    float: left;
    width: 400px;
    height: 450px;
    overflow: hidden;
    transition: 1s;
}

.bio__photo img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 1s;
}


/* Clients */
.clients {
display: flex;
    padding-top: 70px;
}

.clients__header {
    line-height: 1.1;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 100;
}

.clients__text {
    width: 70%;
    margin-top: 100px;
    font-weight: 100;
    font-size: 20px;
}

.clients__col {
    width: 50%;
}


.clients__col--right {
    margin-left: 40px;
    padding: 20px;
}


.clients__logo {
line-height: 5;
letter-spacing: 40px;
}


/* Comments */
.comments {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}

.comments__item {
    position: relative;
    width: 50%;
    padding: 0 65px 0 170px;
    padding-bottom: 80px;
}

.comments__photo {
    width: 110px;
    height: 110px;

    position: absolute;
    border: 2px solid #2c3632;
    border-radius: 50%;

    top: 0;
    left: 0px;
    z-index: 1;
}

.comments__type:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 10px 0px;

    background-color: #2c3632;
}

.comments__name {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 3px;
}

.comments__type{
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 200;
}

.comments__text {
    font-family: 'Josefin Sans', sans-serif;
    color: #999;
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 1px;
}


/* Contact */
.contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact__info {
    line-height: 1.3;
    padding-top: 30px;
}

.contact__form {
    width: 50%;
    padding-top: 60px;
    padding-right: 70px;
}

.contact__form button {
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;

    background-color: black;
    border: 1px solid white;

    margin-left: 335px;
    width: 145px;
    height: 45px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 5px;

    transition: .6s;
    opacity: 1;
}

.contact__form button:hover {
    color: black;
    background-color: white;
    transition: .6s;
}

.contact__form input {
    background-color: black;
    color: white;
    font-size: 17px;
    z-index: 1;
    border: none;
    border-bottom: 2px solid white;

}

.contact__form input:hover {
    border: 2px solid white;
}

.contact__title {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 100;
}

.contact__text {
    padding-top: 50px;
    font-size: 20px;
}

.contact__contacts {
    padding-top: 30px;
    font-size: 18px;
}

.contact--contact {
    padding-top: 54px;
}


.form__info {
    display: flex;
    flex-wrap: wrap;
    float: right;
    padding-left: 50px;
    color: white;
}

.form__name {
    padding-right: 30px;
    line-height: 2;
}

.form__contact {
    line-height: 2;
}

.form__recomandation {
    padding-top: 50px;
    line-height: 2;
}


.form__recomandation textarea {
    background-color: black;
    color: white;
    font-size: 17px;
    z-index: 1;
    border: none;
    border-bottom: 2px solid white;
}

.form__recomandation textarea:hover {
    border: 2px solid white;
}


/* Footer */
.footer {
    background-color: black;
    font-size: 17px;

    padding: 20px 0 20px 250px;
}

.footer span {
    font-size: 19px;
    color: #2c3632;
    font-weight: 900;
}



/* Media */
@media (max-width: 1270px) {

/* Container */
    .container {
        padding: 0 80px;
        margin: 0 auto;
    }


/* Intro */
    .intro {
     background: url("../images/background/6.jpg") right no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    }


}


@media (max-width: 990px) {
/* Container */
    .container {
        padding: 0 70px;
        margin: 0 auto;
    }

/* Nav */
    .nav {
        text-align: right;
        margin-right: 0;
    }

    .nav__link {
        margin: 0 20px;
    }

/* Intro */
    .intro__suptitle {
        font-size: 60px;
    }

    .intro__title {
        font-size: 18px;
    }

/* Section */
    .section__header {
        font-size: 50px;
    }

    .section--comments {
    background: url("../images/background/1.jpg") left no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

/* Card */
    .card {
        margin: 60px -15px 0;
    }

/* Photography */
    .photography__item {
        padding-top: 10px;
    }

    .photography__img {
        height: 400px;
    }

/* Reviews */
    .reviews {
        height: 260px;
    }

    .reviews__text {
        font-size: 22px;
    }

    .reviews__author {
        font-size: 18px;
    }

/* Biography */
    .bio__header {
        font-size: 50px;
    }

    .bio__text {
        text-indent: 40px;
        margin-right: 100px;
    }

    .bio__text h1 {
        font-size: 20px;
    }

    .bio__photo img {
        height: 435px;
        margin: 100px 0 0 60px;
    }

    .bio__photo img:hover {
         transform: scale(0.97);
    }

/* Clients */
    .clients__text {
        margin-top: 65px;
    }


    .clients__logo {
        line-height: 2;
        letter-spacing: 30px;
    }

    .clients__col--right {
        margin-left: 35px;
        margin-top: 30px;
        padding: 0;
    }

    .clients__logo img {
        cursor: pointer;
    }

/* Ð¡omments */
    .comments {
        margin-top: 65px;
    }

    .comments__item {
        padding: 0px 48px 35px 140px;
    }

    .comments__text {
        font-size: 20px;
    }

/* Contact */
    .contact__title {
        font-size: 50px;
    }

    .contact__text {
        font-size: 18px;
    }

    .contact__contacts {
        font-size: 18px;
    }

    .contact__form {
        padding-top: 50px;
        padding-right: 0;
    }

    .contact__form button {
        margin-left: 270px;
        margin-top: 15px;
    }

/* Footer */
    .footer {
        padding: 15px 0 15px 370px;
        font-size: 12px;
    }

    .footer span {
        font-size: 14px;
    }
}

@media (max-width: 770px) {

}

@media (max-width: 375px) {

}



